@media only screen and (max-width: 896px) {
  #container {
    width: 100%;
  }

  nav ul {
    display: block;
  }
  nav ul li {
    text-align: center;
    border-bottom: 1px #028fe2 dotted;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  nav ul li:last-of-type {
    border-bottom: none;
  }

  section {
    padding: 15px;
  }
  section h3 {
    width: 100%;
  }
  section .flex {
    display: block;
  }
  section .flex p {
    width: 100%;
  }
  section .flex p.text {
    padding: 0;
  }

  .contact {
    padding: 30px;
  }
  .contact a {
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
  }
  .contact a img {
    margin-right: 5px;
  }
}
